<div class="container mt-4">

    <!-- Contenido -->
    <div class="row justify-content-center">
        <div class="col-md-7 col-xl-5">

            <div class="mcard">
                <h3>Crea tu minibio</h3>

                <form [formGroup]="bioForm" class="form-floating mt-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="title">
                        <label for="floatingInput">Nombre de la bio</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="description">
                        <label for="floatingInput">Descripción</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="image">
                        <label for="floatingInput">Url imagen</label>
                    </div>

                    <h5>Enlace 1</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="linkTitle1">
                        <label for="floatingInput">Titulo enlace</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="linkUrl1">
                        <label for="floatingInput">Url enlace</label>
                    </div>

                    <h5>Enlace 2</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="linkTitle2">
                        <label for="floatingInput">Titulo enlace</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="linkUrl2">
                        <label for="floatingInput">Url enlace</label>
                    </div>


                    <h5>Enlace 3</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="linkTitle3">
                        <label for="floatingInput">Titulo enlace</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="linkUrl3">
                        <label for="floatingInput">Url enlace</label>
                    </div>

                    <button type="button" (click)="saveMinibio()" class="btn btn-save">Guardar</button>
                </form>

            </div>

        </div>
    </div>


</div>