/* You can add global styles to this file, and also import other style files */

$mainColor: #4D1CDF;
body {
    background-color: #F0F1F4;
}

.mcard {
    background: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(157, 163, 217, 0.15);
    border-radius: 8px;
    padding: 20px;
}