.mhead {
    height: 600px;
    h1 {
        font-size: 60px;
        color: white;
    }
    .btn-light {
        padding: 10px 30px;
        border-radius: 25px;
        img {
            height: 26px;
            width: auto;
            margin-right: 19px;
        }
    }
}

.main-box {
    background-color: #5a16c7;
    border-radius: 30px;
    margin: 50px 25px;
}